<div>
  <ion-list>
    <ion-item>
      <ion-select placeholder="Select a Fruit">
        <div slot="label">Select Jenis <ion-text color="danger">(Required)</ion-text></div>
        <ion-select-option value="apple">Kertas</ion-select-option>
        <ion-select-option value="banana">Logam</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-select placeholder="Select a Fruit">
        <div slot="label">Select Jenis <ion-text color="danger">(Required)</ion-text></div>
        <ion-select-option value="apple">Kertas</ion-select-option>
        <ion-select-option value="banana">Logam</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Input Value</ion-label>
      <ion-input type="text" placeholder="Enter value"></ion-input>
    </ion-item>
  </ion-list>
</div>