/*
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Salon Locks & Lashes This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
*/

.page-background {
  background: linear-gradient(to bottom, #00d2ff, #3a47d5);
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}