<ion-header class="ion-no-border">
  <ion-toolbar color="primary" mode="md">
    <ion-buttons slot="start">
      <!-- <ion-button (click)="onBack()" color="light">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button> -->
      <ion-title>Action Job</ion-title>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-button color="light">
        <ion-icon slot="icon-only" name="ellipsis-horizontal-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
  <ion-toolbar mode="md">
    <ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged()" mode="md">
      <ion-segment-button value="upcoming">
        <ion-label>Loading</ion-label>
      </ion-segment-button>
      <ion-segment-button value="completed">
        <ion-label>Done Loading</ion-label>
      </ion-segment-button>
      <ion-segment-button value="cancelled">
        <ion-label>Completed</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="booking-screen">
    <div class="booking-list" *ngIf="segment =='upcoming'">
      <!-- <ion-button expand="block" fill="outline" shape="round" size="small" (click)="segment ='completed'">
        Cancel Booking
      </ion-button> -->
      <ion-card mode="ios" class="cart-content" *ngFor="let item of util.data_runsheet;let i = index;">
        <div *ngIf="item.status_loading==true" class="top-content">
          <ion-label class="date">{{item.no_boc}}</ion-label>
        </div>
        <ion-row class="salon-info-list">
          <ion-col size="8">
            <div class="name-content">
              <ion-label class="title">{{item.nama}}</ion-label>
              <ion-label class="address">{{item.alamat}}</ion-label>
              <ion-label class="service-title">Services: <span class="service-name name">
                  {{item.jenis_layanan}}</span></ion-label>
              <ion-label class="service-title">Transaction: <span class="service-name name">
                  {{item.jenis_transaksi}}</span></ion-label>
              <ion-label class="service-title">Item: <span class="service-name name">
                  {{item.jenis_barang}}</span></ion-label>
            </div>
          </ion-col>
        </ion-row>
        <div class="bottom-content">
          <ion-row>
            <ion-col size="12">
              <ion-button expand="block" fill="solid" shape="round" size="small" (click)="onLoadingDetail()">
                Loading
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-card>




      <ion-card mode="ios" class="cart-content" *ngFor="let item of util.salonList;let i = index;">
        <div class="top-content">
          <ion-label class="date">July 15, 2023 - 09:30 AM</ion-label>
        </div>
        <ion-row class="salon-info-list">
          <ion-col size="8">
            <div class="name-content">
              <ion-label class="title">Jakarta - Jayakarta</ion-label>
              <ion-label class="address">Jl. Pangeran Jayakarta 117 Blok A6 - 7 Jakarta Pusat 10730</ion-label>
              <ion-label class="service-title">Services: <span class="service-name name"> Delivery</span></ion-label>
              <ion-label class="service-title">Transaction: <span class="service-name name"> Said To Contain
                  (STC)</span></ion-label>
              <ion-label class="service-title">Item: <span class="service-name name"> Uang</span></ion-label>
            </div>
          </ion-col>
        </ion-row>
        <div class="bottom-content">
          <ion-row>
            <ion-col size="12">
              <ion-button expand="block" fill="solid" shape="round" size="small" (click)="onLoadingDetail()">
                Loading
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-card>
    </div>

    <div class="booking-list" *ngIf="segment =='completed'">
      <ion-card mode="ios" class="cart-content" *ngFor="let item of util.salonList;let i = index;">
        <div class="top-content">
          <ion-label class="date">July 15, 2023 - 09:30 AM</ion-label>
        </div>
        <ion-row class="salon-info-list">
          <ion-col size="8">
            <div class="name-content">
              <ion-label class="title">Jakarta - Jayakarta</ion-label>
              <ion-label class="address">Jl. Pangeran Jayakarta 117 Blok A6 - 7 Jakarta Pusat 10730</ion-label>
              <ion-label class="service-title">Services: <span class="service-name name"> Delivery</span></ion-label>
              <ion-label class="service-title">Transaction: <span class="service-name name"> Said To Contain
                  (STC)</span></ion-label>
              <ion-label class="service-title">Item: <span class="service-name name"> Uang</span></ion-label>
            </div>
          </ion-col>
        </ion-row>
        <div class="bottom-content">
          <ion-row>
            <ion-col size="12">
              <ion-button expand="block" fill="outline" shape="round" size="small" (click)="onToDestination()">
                Go To Destination
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-card>
    </div>

    <div class="booking-list" *ngIf="segment =='cancelled'">
      <ion-card mode="ios" class="cart-content" *ngFor="let item of util.salonList;let i = index;">
        <div class="top-content">
          <ion-label class="date">July 15, 2023 - 09:30 AM</ion-label>
          <div class="end-item">
            <ion-label class="completed">Completed</ion-label>
          </div>
        </div>
        <ion-row class="salon-info-list">
          <ion-col size="8">
            <div class="name-content">
              <ion-label class="title">Jakarta - Jayakarta</ion-label>
              <ion-label class="address">Jl. Pangeran Jayakarta 117 Blok A6 - 7 Jakarta Pusat 10730</ion-label>
              <ion-label class="service-title">Services: <span class="service-name name"> Delivery</span></ion-label>
              <ion-label class="service-title">Transaction: <span class="service-name name"> Said To Contain
                  (STC)</span></ion-label>
              <ion-label class="service-title">Item: <span class="service-name name"> Uang</span></ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </div>
</ion-content>