<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Salon Locks & Lashes This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-header class="ion-no-border">
  <ion-toolbar mode="md" color="primary">
    <ion-title>Locks & Lashes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onNotification()">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="onBookmarks()">
        <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="ion-no-border">
    <ion-searchbar placeholder="Search" inputmode="text" type="text" mode="ios"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="home_screen">
    <ion-label class="greeting-title">Morning, John 👋</ion-label>

    <ion-card mode="ios" class="top-card-content">
      <ion-row class="ion-no-margin ion-no-padding">
        <ion-col size="4">
          <div class="cover-image" [ngStyle]="{'background-image': 'url(assets/images/avatar/2.jpg)'}"></div>
        </ion-col>
        <ion-col size="8">
          <ion-label class="title">John Cannery</ion-label>
          <ion-label class="sub-title">"Live with our passion"</ion-label>
          <div class="followers">
            <div class="content">
              <ion-label class="lbl">Followers</ion-label>
              <ion-label class="count">97</ion-label>
            </div>
            <div class="content">
              <ion-label class="lbl">Following</ion-label>
              <ion-label class="count">397</ion-label>
            </div>
          </div>

          <ion-button expand="block" fill="solid" color="primary" size="small" (click)="onApiServer()">
            Edit Profile
          </ion-button>
          <ion-button expand="block" fill="solid" color="primary" size="small" (click)="onTest()">
            TESt
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>

    <div class="breaker"></div>

    <div class="main-title">
      <ion-label class="title">CASH IN TRANSIT</ion-label>
      <ion-button expand="block" fill="solid" shape="round" color="primary" size="small" (click)="OnLoading()">
        Start Job
      </ion-button>
    </div>


    <ion-accordion-group [multiple]="false" [value]="['first']">
      <div *ngFor="let item of data_run;let i = index;">
        <ion-accordion value="{{i==0 ? 'first' : i}}">
          <ion-item slot="header" color="light">
            <ion-label>{{item.no_boc}}</ion-label>
          </ion-item>
          <div slot="content">
            <ion-grid>
              <ion-row>
                <ion-col class="th">
                  RUNSHEET CIT
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="th">
                  ID
                </ion-col>
                <ion-col class="th">
                  BANK
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="td">
                  {{item.id}}
                </ion-col>
                <ion-col class="td">
                  {{item.nama_pt}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="th">
                  NAMA
                </ion-col>
                <ion-col class="th">
                  AREA
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="td">
                  {{item.nama}}
                </ion-col>
                <ion-col class="td">
                  {{item.area}}
                </ion-col>
              </ion-row>
              <ion-row>
              </ion-row>
              <ion-row>
                <ion-col class="th">
                  JENIS
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="th">
                  LAYANAN
                </ion-col>
                <ion-col class="th">
                  BARANG
                </ion-col>
                <ion-col class="th">
                  TRANSAKSI
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="td">
                  {{item.jenis_layanan}}
                </ion-col>
                <ion-col class="td">
                  {{item.jenis_barang}}
                </ion-col>
                <ion-col class="td">
                  <span *ngIf="item.jenis_transaksi=='STC'">Said To Contain</span>
                  <span *ngIf="item.jenis_transaksi=='BBC'">Bulk Bundle Count</span>
                  <span *ngIf="item.jenis_transaksi=='COS'">Count On SIte</span> ({{item.jenis_transaksi}})
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="th">
                  TOTAL NOMINAL
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="td">
                  {{item.total_nominal | currency:'Rp ':'symbol':'1.0'}}
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-accordion>
      </div>
    </ion-accordion-group>
  </div>
</ion-content>