<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Salon Locks & Lashes This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-header class="ion-no-border">
  <ion-toolbar mode="md" color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" color="light">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title>
        <img src="assets/bijak.png" alt="Bijak Logo" style="height:32px; vertical-align:middle; margin-right:10px;">
        Checklist Detail
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="confirm-payment-screen">
    <ion-card mode="ios" class="card-content">
      <div *ngFor="let item of listDataLoading$ | async"></div>
      <div class="flex-content">
        <ion-grid>
          <ion-row>
            <ion-col class="th">
              JENIS
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="th">
              LAYANAN
            </ion-col>
            <ion-col class="th">
              BARANG
            </ion-col>
            <ion-col class="th">
              TRANSAKSI
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="td" *ngFor="let item of listDataLoading$ | async">
              {{item.jenis_layanan}}
            </ion-col>
            <ion-col class="td" *ngFor="let item of listDataLoading$ | async">
              {{item.jenis_barang}}
            </ion-col>
            <ion-col class="td" *ngFor="let item of listDataLoading$ | async">
              <span *ngIf="item.jenis_transaksi=='STC'">Said To Contain</span>
              <span *ngIf="item.jenis_transaksi=='BBC'">Bulk Bundle Count</span>
              <span *ngIf="item.jenis_transaksi=='COS'">Count On SIte</span> ({{item.jenis_transaksi}})
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="td" *ngFor="let item of listDataLoading$ | async">
              {{item.total_nominal | currency:'Rp ':'symbol':'1.0'}}
            </ion-col>
          </ion-row>
          <div *ngIf="jenis_layanan=='Pickup'">
            <ion-grid></ion-grid>
            <ion-row>
              <ion-col class="th2">
                <ion-label class="date">DENOMINATION</ion-label>
                <div class="end-item">
                  <ion-label class="remind">Modify?</ion-label>
                  <ion-toggle class="toggle" mode="md" [checked]="checked" (ionChange)="testCheck($event)"></ion-toggle>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="th">
                UANG KERTAS
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="th">
                DENOM
              </ion-col>
              <ion-col class="th">
                QUANTITY
              </ion-col>
              <ion-col class="th ini">
                #
              </ion-col>
              <ion-col class="th ini">
                STATUS
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let item of util.denom_kertas; let i = index;">
              <ion-col class="td">
                {{item.item}}
              </ion-col>
              <ion-col class="td">
                <ion-input *ngIf="checked" class="ion-input" type='tel' [clearInput]="true"
                  (input)="inputOnCHange($event, i, 'kertas')" value="{{item.value == 0 ? '' :  item.value}}"></ion-input>
                <span *ngIf="!checked">{{item.value | number}}</span>
              </ion-col>
              <ion-col class="td ini">
                <ion-checkbox *ngIf="checked==true ? '' : 'disabled'"
                  (ionChange)="checkboxOnCHange($event, i, 'kertas')"></ion-checkbox>
              </ion-col>
              <ion-col class="td ini">
                {{item.status}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="th">
                UANG LOGAM
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="th">
                DENOM
              </ion-col>
              <ion-col class="th">
                QUANTITY
              </ion-col>
              <ion-col class="th ini">
                #
              </ion-col>
              <ion-col class="th ini">
                STATUS
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let item of util.denom_logam; let i = index;">
              <ion-col class="td">
                {{item.item}}
              </ion-col>
              <ion-col class="td">
                <ion-input *ngIf="checked" class="ion-input" type='tel' [clearInput]="true"
                  (input)="inputOnCHange($event, i, 'logam')" value="{{item.value == 0 ? '' :  item.value}}"></ion-input>
                <span *ngIf="!checked">{{item.value | number}}</span>
              </ion-col>
              <ion-col class="td ini">
                <ion-checkbox *ngIf="checked==true ? '' : 'disabled'"
                  (ionChange)="checkboxOnCHange($event, i, 'logam')"></ion-checkbox>
              </ion-col>
              <ion-col class="td ini">
                {{item.status}}
              </ion-col>
            </ion-row>
            <ion-grid></ion-grid>
            <ion-row>
              <ion-col class="th">
                TOTAL NOMINAL
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="td">
                <!-- Rp 0 -->
                {{total | currency:'Rp ':'symbol':'1.0'}}
                <!-- {{total}} -->
              </ion-col>
            </ion-row>
          </div>
          
          <div *ngIf="jenis_layanan=='CTC Delivery'">
            <ion-grid></ion-grid>
            <ion-row>
              <ion-col class="th2">
                <ion-label class="date">DENOMINATION</ion-label>
                <div class="end-item">
                  <ion-label class="remind">Modify?</ion-label>
                  <ion-toggle class="toggle" mode="md" [checked]="checked" (ionChange)="testCheck($event)"></ion-toggle>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="th">
                UANG KERTAS
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="th">
                DENOM
              </ion-col>
              <ion-col class="th">
                QUANTITY
              </ion-col>
              <ion-col class="th ini">
                #
              </ion-col>
              <ion-col class="th ini">
                STATUS
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let item of util.denom_kertas_ctc; let i = index;">
              <ion-col class="td">
                {{item.item}}
              </ion-col>
              <ion-col class="td">
                <ion-input *ngIf="checked" class="ion-input" type='tel' [clearInput]="true"
                  (input)="inputOnCHangeCTC($event, i, 'kertas')" value="{{item.value == 0 ? '' :  item.value}}"></ion-input>
                <span *ngIf="!checked">{{item.value | number}}</span>
              </ion-col>
              <ion-col class="td ini">
                <ion-checkbox *ngIf="checked==true ? '' : 'disabled'"
                  (ionChange)="checkboxOnCHangeCTC($event, i, 'kertas')"></ion-checkbox>
              </ion-col>
              <ion-col class="td ini">
                {{item.status}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="th">
                UANG LOGAM
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="th">
                DENOM
              </ion-col>
              <ion-col class="th">
                QUANTITY
              </ion-col>
              <ion-col class="th ini">
                #
              </ion-col>
              <ion-col class="th ini">
                STATUS
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let item of util.denom_logam_ctc; let i = index;">
              <ion-col class="td">
                {{item.item}}
              </ion-col>
              <ion-col class="td">
                <ion-input *ngIf="checked" class="ion-input" type='tel' [clearInput]="true"
                  (input)="inputOnCHangeCTC($event, i, 'logam')" value="{{item.value == 0 ? '' :  item.value}}"></ion-input>
                <span *ngIf="!checked">{{item.value | number}}</span>
              </ion-col>
              <ion-col class="td ini">
                <ion-checkbox *ngIf="checked==true ? '' : 'disabled'"
                  (ionChange)="checkboxOnCHangeCTC($event, i, 'logam')"></ion-checkbox>
              </ion-col>
              <ion-col class="td ini">
                {{item.status}}
              </ion-col>
            </ion-row>
            <ion-grid></ion-grid>
            <ion-row>
              <ion-col class="th">
                TOTAL NOMINAL
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="td">
                <!-- Rp 0 -->
                {{total_ctc | currency:'Rp ':'symbol':'1.0'}} 
                <!-- {{total}} -->
              </ion-col>
            </ion-row>
          </div>
          <ion-grid></ion-grid>
          <!-- <ion-row>
            <ion-col class="th">
              FOTO BOC FISIK
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="td">
              <img id="scannedImage" alt="" srcset="" />
              <ion-button (click)="captureBocPicture()" size="small" expand="block"
                fill="solid" shape="round" color="primary">
                Take a picture
              </ion-button>
            </ion-col>
          </ion-row> -->
          <ion-row>
            <ion-col class="th">
              TTD PIC
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="td">
              <img id="ttdImage" src="{{ util.signatureImgPIC }}" alt="" srcset="" />
              <!-- <img *ngIf="util.signatureImgPIC" src="{{ util.signatureImgPIC }}" alt="" srcset="" /> -->
              <!-- <ion-button *ngIf="!util.signatureImgPIC" (click)="presentModalPIC()" size="small" expand="block" -->
              <ion-button (click)="presentModalPIC()" size="small" expand="block"
                fill="solid" shape="round" color="primary">
                Sign Here
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>


      </div>
    </ion-card>
  </div>
</ion-content>

<ion-footer *ngIf="is_valid_sign">
  <ion-toolbar>
    <ion-button (click)="onJobComplete()" expand="block" fill="solid" shape="round" color="primary">
      Finish Job
    </ion-button>
  </ion-toolbar>
</ion-footer>