<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Salon Locks & Lashes This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->

<ion-header class="ion-no-border">
  <ion-toolbar mode="md" color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" color="light">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title>
        <img src="assets/bijak.png" alt="Bijak Logo" style="height:32px; vertical-align:middle; margin-right:10px;">
        Loading Detail
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="confirm-payment-screen">
    <ion-card mode="ios" class="card-content">
      <div class="flex-content">
        <ion-label class="title">Nama</ion-label>
        <ion-label class="title-bold" *ngFor="let item of listDataLoading$ | async">{{item.nama}}</ion-label>
      </div>
      <div class="flex-content">
        <ion-label class="title">Alamat</ion-label>
        <ion-label class="title-bold" style="width: 50%" *ngFor="let item of listDataLoading$ | async">{{item.alamat}}</ion-label>
      </div>
      <div class="flex-content">
        <ion-label class="title">Nama PT</ion-label>
        <ion-label class="title-bold" *ngFor="let item of listDataLoading$ | async">{{item.nama_pt}}</ion-label>
      </div>
      <div class="flex-content">
        <ion-label class="title">No. Telp</ion-label>
        <ion-label class="title-bold" *ngFor="let item of listDataLoading$ | async">{{item.telp}}</ion-label>
      </div>
    </ion-card>

    <ion-card mode="ios" class="card-content">
      <div class="flex-content">
        <ion-grid>
          <ion-row>
            <ion-col class="th">
              VALIDATION PROCESS
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="th">
              SCAN PAPER SEAL
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="td td-button" style="text-align: center;">
              <ion-col size="auto" class="td td-button" style="text-align: center; padding: 0; border: none;">
                <ion-button color="primary" size="small" expand="block" shape="round" (click)="onScanSeal()">
                  <ion-icon name="qr-code-outline" slot="start"></ion-icon>
                  SCAN PAPER SEAL
                </ion-button>
              </ion-col>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="th">
              RESULT VALIDATION
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="th">
              QR PAPER SEAL
            </ion-col>
          </ion-row>
          <ion-row >
            <ion-col class="td">
              <span *ngIf="seal_number.length > 0;">
                <span *ngFor="let item of seal_number">- {{item}} <br></span>
              </span>
            </ion-col>
          </ion-row>
        <ion-grid>

        </ion-grid>
          <ion-row>
            <ion-col class="th">
              JENIS
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="th">
              LAYANAN
            </ion-col>
            <ion-col class="th">
              BARANG
            </ion-col>
            <ion-col class="th">
              TRANSAKSI
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="td">
              Delivery
            </ion-col>
            <ion-col class="td">
              Uang
            </ion-col>
            <ion-col class="td">
              Said To Contain (STC)
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="th">
              TOTAL NOMINAL
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="td">
              Rp 200.000.000
            </ion-col>
          </ion-row>
          <!-- <ion-row>
            <ion-col></ion-col>
            <ion-col></ion-col>
            <ion-col>
              <div class="open-lbl"> 
                <ion-label class="lbl" (click)="onRide()">Go to Destination</ion-label>
              </div>
            </ion-col>
          </ion-row> -->
        </ion-grid>
      </div>
    </ion-card>
  </div>
</ion-content>

<ion-footer *ngIf="is_valid">
  <ion-toolbar>
    <ion-button (click)="onDoneLoading()" expand="block" fill="solid" shape="round" color="primary">
      Done Loading
    </ion-button>
  </ion-toolbar>
</ion-footer>